/* Write your code here. */

.app-bg {
  background-color: #f1f5f8;
  padding: 30px 40px 30px 40px;
}
.card-bg {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  align-items: center;
}
.unOrderedList {
  padding-left: 0px;
}
.heading-styles {
  font-family: 'Roboto';
  font-size: 36px;
  color: #cb8805;
}
